<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net452" userInstalled="true" />
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net452" userInstalled="true" />
  <package id="Caliburn.Micro.AutofacBootstrap" version="3.0.1.17" targetFramework="net452" userInstalled="true" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net452" userInstalled="true" />
  <package id="FontAwesome.Sharp" version="5.2.0" targetFramework="net452" userInstalled="true" />
  <package id="NAudio" version="1.8.5" targetFramework="net452" userInstalled="true" />
  <package id="nVLC" version="3.0.0" targetFramework="net452" userInstalled="true" />
  <package id="VLC.Native" version="3.0.5" targetFramework="net452" userInstalled="true" />
</packages>